# Optional
FAVORITE_COLOR=blue

# Test that 2 equals doesn't mess it up
SERVER_URL=http://test.example/?a=1

# datastore-env-ignore
DEV_ONLY_VAR=1

API_KEY=a secret

# datastore-env-ignore-all
NOT_THIS_ONE=true
OR_THIS_ONE=completely
